<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Fitness Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-list">
        <li class="nav-item" routerLink="/dashboard">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLink="/calender">
          <a class="nav-link">Kalender</a>
        </li>
        <li class="nav-item user-icon-item">
          <a class="nav-link"><i class="fa-solid fa-user"></i></a>
        </li>
      </ul>
    </div>
  </nav>